 {
	"name": "\u0416\u041a \u041c\u043e\u0441\u043a\u043e\u0432\u0441\u043a\u0430\u044f \u043e\u0431\u043b\u0430\u0441\u0442\u044c",
	"elements":  {
		"def87f62-d7aa-4112-b32e-3f1e3a22dd5e":  {
			"name": "\u0413\u043b\u0430\u0432\u043d\u043e\u0435 \u0444\u043e\u0442\u043e \u0416\u041a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/uploads\/#USER_ID#",
			"max_upload_size": "512",
			"default_image": "",
			"default_enable": "1",
			"type": "jbimage"
		},
		"3cbab605-572f-44a0-b974-3291cd190a91":  {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"b82dd3d5-1d12-4d88-847c-76906aecf198":  {
			"name": "\u041d\u0430\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"7bcbc8b1-c2bd-435e-b2cf-e5a4906dccc0":  {
			"name": "\u041a\u043c \u043e\u0442 \u041c\u041a\u0410\u0414",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"5a3df104-fd89-49bd-8e91-1f24a1b6969b":  {
			"name": "\u041d\u0430\u0441\u0435\u043b\u0435\u043d\u043d\u044b\u0439 \u043f\u0443\u043d\u043a\u0442",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"a16df9d3-630d-49e2-9463-6703455f69c3":  {
			"name": "\u0416\/\u0414 \u0441\u0442\u0430\u043d\u0446\u0438\u044f",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"33a8761d-f4e8-478d-9460-2b4f9fb6c206":  {
			"name": "\u0411\u043b\u0438\u0436\u0430\u0439\u0448\u0435\u0435 \u043c\u0435\u0442\u0440\u043e",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"863104ca-9503-4ec1-81bb-331e704ca763":  {
			"name": "\u041f\u0430\u0440\u043a\u0438\u043d\u0433",
			"description": "(\u043a\u043e\u043c\u043f\u043b\u0435\u043a\u0441)",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"2d1e454b-bfe3-4104-ac69-33804c9442da":  {
			"name": "\u0422\u0438\u043f \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
			"description": "(\u043a\u043e\u043c\u043f\u043b\u0435\u043a\u0441)",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"f3c86863-ea6b-4298-a13b-bac305c44eea":  {
			"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430 \u0438 \u0440\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430",
					"value": "ipoteka"
				},
				"1":  {
					"name": "\u0420\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
					"value": "rassrochka"
				}
			},
			"type": "checkbox"
		},
		"db8baf37-2ea6-4de0-bcda-2b343e78fb47":  {
			"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430",
			"description": "(\u043a\u043e\u043c\u043f\u043b\u0435\u043a\u0441)",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"16596e62-88b4-4fe9-a9c0-57ea40322345":  {
			"name": "\u0420\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"127d9b97-b1cc-45ab-99f6-1bf3c256410e":  {
			"name": "\u0417\u0430\u0441\u0442\u0440\u043e\u0439\u0449\u0438\u043a",
			"description": "(\u043a\u043e\u043c\u043f\u043b\u0435\u043a\u0441)",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"dc2ea368-1edd-4217-9113-41a28fc53ac4":  {
			"name": "\u041f\u0440\u043e\u0434\u0430\u0432\u0446\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"e5c11ea0-a49e-43ce-9ec7-030579c6d1c8":  {
			"name": "\u041f\u043b\u043e\u0449\u0430\u0434\u044c",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"6f420d22-41df-4ab7-9dd8-f467c97b6add":  {
			"name": "\u0414\u0438\u0430\u043f\u0430\u0437\u043e\u043d \u0446\u0435\u043d \u0432 \u0416\u041a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"a11985a4-9f91-4532-afaa-52e0c0c37682":  {
			"name": "\u0426\u0435\u043d\u0430 \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"63938681-e707-4c66-8d72-856326b083a9":  {
			"name": "\u0426\u0435\u043d\u0430 \u0437\u0430 \u043a\u0432.\u043c.",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"d4c4a4ba-d6f1-41c4-8344-e3bd128c2692":  {
			"name": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"description": "",
			"access": "1",
			"type": "jbcommentsrender"
		},
		"c535ff9a-e4ae-4ca9-ab7a-77674c8022b6":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u043a\u0438 +",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "0",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"8c5c3a9a-0825-4131-a0dd-2279df9378ab":  {
			"name": "\u0420\u044d\u0439\u0442\u0438\u043d\u0433",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"493ba428-41b4-4e91-8dbd-7674262ba03d":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0435 \u0437\u0430\u043a\u043b\u0430\u0434\u043a\u0438",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"technorati": "0",
			"yahoo": "1",
			"delicious": "0",
			"stumbleupon": "0",
			"digg": "0",
			"facebook": "1",
			"reddit": "0",
			"myspace": "1",
			"live": "1",
			"twitter": "1",
			"email": "1",
			"type": "socialbookmarks"
		},
		"1d6d6d03-491c-458c-9878-a909cfa4a97a":  {
			"name": "\u0424\u0430\u0439\u043b\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"instancelimit": "",
			"layout":  {
				"_layout": "default.php",
				"_sublayout": "_default.php"
			},
			"files":  {
				"_mode": "both",
				"_default_source": "",
				"_extensions": "png|jpg|gif|bmp|doc|docx|mp3|mov|avi|mpg|zip|rar|gz|pdf|ppt|pptx|xls|xlsx",
				"_websafe_mode": "utf-8",
				"_source_dir": "images",
				"_max_upload_size": "10240",
				"_s3bucket": "",
				"_awsaccesskey": "zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[]]]]]]]]]]]]]]]]]]]]]]]]]]]",
				"_awssecretkey": "zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[]]]]]]]]]]]]]]]]]]]]]]]]]]]"
			},
			"specific":  {
				"_download_mode": "0"
			},
			"type": "downloadpro"
		},
		"43f42527-adf0-49f8-b02d-386846a8d4f4":  {
			"access": "1",
			"name": "\u042f\u043d\u0434\u0435\u043a\u0441.\u041a\u0430\u0440\u0442\u044b",
			"description": "flyleaf_ymaps",
			"type": "flyleaf_ymaps"
		},
		"bd29f3f4-f3d7-4676-896f-89eb758dd2da":  {
			"name": "Google",
			"description": "",
			"access": "1",
			"locale": "",
			"key": "",
			"type": "googlemaps"
		},
		"b1d340ca-45c3-47fd-828c-6de119bfd7b9":  {
			"access": "1",
			"name": "\u0413\u0430\u043b\u0435\u0440\u0435\u044f",
			"description": "",
			"directory": "images\/for_base",
			"type": "jbgallery"
		},
		"299214c0-ffa9-4b67-9864-704d8a1d1470":  {
			"name": "\u0422\u0438\u043f \u043a\u043e\u0440\u043f\u0443\u0441\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"1a42ebeb-95fb-461a-b20b-0f6951aec2f6":  {
			"name": "\u0421\u0435\u0440\u0438\u044f",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"44bcace4-b04e-40c4-8c2a-956f7cb8a0c3":  {
			"name": "\u042d\u0442\u0430\u0436\u043d\u043e\u0441\u0442\u044c",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"a2bb62dd-1094-46f0-a031-6910fec60e0a":  {
			"name": "\u0421\u0442\u0430\u0434\u0438\u044f \u0441\u0442\u0440\u043e\u0438\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"461c264d-94c6-44b5-b1a9-6a419dad16c0":  {
			"name": "\u0421\u0440\u043e\u043a \u0441\u0434\u0430\u0447\u0438 \u0413\u041a",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"e384f048-3b18-4462-88fe-928390e25142":  {
			"name": "\u041e\u0442\u0434\u0435\u043b\u043a\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"7241c08e-f218-4da8-9853-87c4e50685a6":  {
			"name": "Complex_Id",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}