 {
	"name": "\u0416\u041a \u041c\u043e\u0441\u043a\u0432\u0430",
	"elements":  {
		"60cdd345-2a07-4b98-8995-5144fbdf12ce":  {
			"name": "\u0413\u043b\u0430\u0432\u043d\u043e\u0435 \u0444\u043e\u0442\u043e \u0416\u041a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/uploads\/#USER_ID#",
			"max_upload_size": "512",
			"default_image": "",
			"default_enable": "1",
			"type": "jbimage"
		},
		"4c101429-3f7d-4725-9571-2874a2396ce4":  {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"b03b9f3b-0145-42a0-8186-a2ef727a0095":  {
			"name": "\u041e\u043a\u0440\u0443\u0433",
			"description": "(\u0434\u043b\u044f \u041c\u043e\u0441\u043a\u0432\u044b)",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"4c749dae-12ae-49d1-a960-05862a5aa834":  {
			"name": "\u0420\u0430\u0439\u043e\u043d",
			"description": "(\u0434\u043b\u044f \u041c\u043e\u0441\u043a\u0432\u044b)",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"4e902814-8e27-4060-913b-da18b4d0ce5a":  {
			"name": "\u041c\u0435\u0442\u0440\u043e",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"c8f3daff-ddaa-43ef-a989-c46870fd1e03":  {
			"name": "\u0416\/\u0414 \u0441\u0442\u0430\u043d\u0446\u0438\u044f",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"e6f93c73-1ca4-4356-881a-2dcd5b1d1ddc":  {
			"name": "\u041f\u0430\u0440\u043a\u0438\u043d\u0433",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"8d43b790-dae4-424e-979d-b5c74533c0bd":  {
			"name": "\u0422\u0438\u043f \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"5d81538d-07c3-49f6-96d3-b410fbd4b3a6":  {
			"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430 \u0438 \u0440\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
			"description": "\u0434\u0430\/\u043d\u0435\u0442",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430",
					"value": "ipoteka"
				},
				"1":  {
					"name": "\u0420\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
					"value": "rassrochka"
				}
			},
			"type": "checkbox"
		},
		"7f1afa0e-0c7e-47e7-aebe-5d8cd0cdc248":  {
			"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"fc80d99f-a73e-4bf6-a2ce-87aacb7f0e4a":  {
			"name": "\u0420\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"12d66e25-0895-450f-ab7b-13a48a9dadf0":  {
			"name": "\u0417\u0430\u0441\u0442\u0440\u043e\u0439\u0449\u0438\u043a",
			"description": "(\u043a\u043e\u043c\u043f\u043b\u0435\u043a\u0441)",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"0b671e6a-07e4-481c-9a1c-73ecf3d0128c":  {
			"name": "\u041f\u0440\u043e\u0434\u0430\u0432\u0446\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"16c13e4d-a52f-4136-9f05-c2038ecf7051":  {
			"name": "\u041f\u043b\u043e\u0449\u0430\u0434\u044c",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"63a75c60-1a3d-4d85-92d2-91c6daf17361":  {
			"name": "\u0414\u0438\u0430\u043f\u0430\u0437\u043e\u043d \u0446\u0435\u043d \u0432 \u0416\u041a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"cdcbe10d-34f0-46d5-bcad-a31bf7aaf86c":  {
			"name": "\u0426\u0435\u043d\u0430 \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"ba0049b7-1644-4090-b5f5-f8b0f35b9a83":  {
			"name": "\u0426\u0435\u043d\u0430 \u0437\u0430 \u043a\u0432.\u043c.",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"341a5167-4286-47ca-bd32-331ccd7ad730":  {
			"name": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"description": "",
			"access": "1",
			"type": "jbcommentsrender"
		},
		"9f21bba0-f1c9-447c-b763-93df10a2bf83":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u043a\u0438 +",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "0",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"15b23f74-510a-4a1d-bc34-f4fffa7b7e33":  {
			"name": "\u0420\u044d\u0439\u0442\u0438\u043d\u0433",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"ac30381a-b9ae-4fc2-97d2-caf90fa36413":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0435 \u0437\u0430\u043a\u043b\u0430\u0434\u043a\u0438",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"technorati": "0",
			"yahoo": "1",
			"delicious": "0",
			"stumbleupon": "0",
			"digg": "0",
			"facebook": "1",
			"reddit": "0",
			"myspace": "1",
			"live": "1",
			"twitter": "1",
			"email": "1",
			"type": "socialbookmarks"
		},
		"b489ccc4-8e3f-4c5a-a12f-bd6967c1692c":  {
			"name": "\u0424\u0430\u0439\u043b\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"instancelimit": "",
			"layout":  {
				"_layout": "default.php",
				"_sublayout": "_default.php"
			},
			"files":  {
				"_mode": "both",
				"_default_source": "",
				"_extensions": "png|jpg|gif|bmp|doc|docx|mp3|mov|avi|mpg|zip|rar|gz|pdf|ppt|pptx|xls|xlsx",
				"_websafe_mode": "utf-8",
				"_source_dir": "images",
				"_max_upload_size": "10240",
				"_s3bucket": "",
				"_awsaccesskey": "zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[]]]]]]]]]]]]]]]]",
				"_awssecretkey": "zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[]]]]]]]]]]]]]]]]"
			},
			"specific":  {
				"_download_mode": "0"
			},
			"type": "downloadpro"
		},
		"551d22eb-25f2-4f58-90de-0b50f944b0db":  {
			"access": "1",
			"name": "\u042f\u043d\u0434\u0435\u043a\u0441.\u041a\u0430\u0440\u0442\u044b",
			"description": "flyleaf_ymaps",
			"type": "flyleaf_ymaps"
		},
		"e44688db-6d22-46e1-8a48-5f9d332af8cb":  {
			"name": "Google",
			"description": "",
			"access": "1",
			"locale": "",
			"key": "",
			"type": "googlemaps"
		},
		"b62240c6-b10f-4d55-ac51-1064433444f2":  {
			"access": "1",
			"name": "\u0413\u0430\u043b\u0435\u0440\u0435\u044f",
			"description": "",
			"directory": "images\/for_base",
			"type": "jbgallery"
		},
		"e13808c5-1599-4a5c-a743-038058243c03":  {
			"name": "\u0422\u0438\u043f \u043a\u043e\u0440\u043f\u0443\u0441\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"96e8de5e-a9bf-4fda-bb2b-02fa6aef46c9":  {
			"name": "\u0421\u0435\u0440\u0438\u044f",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"cc2a280a-20ea-4667-9d8a-1d6246ecd515":  {
			"name": "\u042d\u0442\u0430\u0436\u043d\u043e\u0441\u0442\u044c",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"4010b6b9-2e40-4dcf-b499-65d53671d2d8":  {
			"name": "\u0421\u0442\u0430\u0434\u0438\u044f \u0441\u0442\u0440\u043e\u0438\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"4a9ee8f0-b282-4b13-9df8-832498a2dcc8":  {
			"name": "\u0421\u0440\u043e\u043a \u0441\u0434\u0430\u0447\u0438 \u0413\u041a",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"ff35216a-f722-49a4-b47d-33b2d5831e96":  {
			"name": "\u041e\u0442\u0434\u0435\u043b\u043a\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"72d13fe0-3955-463f-b98e-4e1b1d468d61":  {
			"name": "Complex_Id",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}