 {
	"name": "\u0416\u041a \u0420\u043e\u0441\u0441\u0438\u044f",
	"elements":  {
		"1865a82e-4e80-4b55-bd38-cb808b6a8152":  {
			"name": "\u0413\u043b\u0430\u0432\u043d\u043e\u0435 \u0444\u043e\u0442\u043e \u0416\u041a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/uploads\/#USER_ID#",
			"max_upload_size": "512",
			"default_image": "",
			"default_enable": "1",
			"type": "jbimage"
		},
		"55fc6e3e-10b0-49b9-8f31-8d62c274bb2b":  {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"6e3e8a10-343e-4254-bd1e-12c75c490249":  {
			"name": "\u0420\u0435\u0433\u0438\u043e\u043d",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"6a2a39a6-b3ed-4a9a-8716-e73a77fffbc8":  {
			"name": "\u041d\u0430\u0441\u0435\u043b\u0435\u043d\u043d\u044b\u0439 \u043f\u0443\u043d\u043a\u0442",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"d78eecad-e0c5-4190-91d0-f4cb257f8a2f":  {
			"name": "\u0416\/\u0414 \u0441\u0442\u0430\u043d\u0446\u0438\u044f",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"619d45c0-7b23-4ebf-ab8c-cfdc421bb465":  {
			"name": "\u041f\u0430\u0440\u043a\u0438\u043d\u0433",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"36b419d0-8b4c-4c91-8c19-8f32cddd0b15":  {
			"name": "\u0422\u0438\u043f \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"e5d3cd91-98ab-418d-8788-f221b7912f71":  {
			"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430 \u0438 \u0440\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
			"description": "\u0434\u0430\/\u043d\u0435\u0442",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430",
					"value": "ipoteka"
				},
				"1":  {
					"name": "\u0420\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
					"value": "rassrochka"
				}
			},
			"type": "checkbox"
		},
		"25b967e2-d2cf-468f-9b36-032292f04f9e":  {
			"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"08b7b86b-9dc9-4fee-ac19-bf93c33430a5":  {
			"name": "\u0420\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"3f616d8b-090d-411f-b2ef-e64f8d85ebf4":  {
			"name": "\u0417\u0430\u0441\u0442\u0440\u043e\u0439\u0449\u0438\u043a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"e3178c15-695a-4d57-a996-c92d7e00d8c3":  {
			"name": "\u041f\u0440\u043e\u0434\u0430\u0432\u0446\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"85566406-0bc6-45a1-9c36-257b3334bf3e":  {
			"name": "\u041f\u043b\u043e\u0449\u0430\u0434\u044c",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"5124b06f-e7db-4dec-89f0-c312377861b4":  {
			"name": "\u0414\u0438\u0430\u043f\u0430\u0437\u043e\u043d \u0446\u0435\u043d \u0432 \u0416\u041a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"3159f0e3-8a40-4952-8ddb-b69f455bf57a":  {
			"name": "\u0426\u0435\u043d\u0430 \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"202c0914-1c88-414b-8c97-214b834fdcbe":  {
			"name": "\u0426\u0435\u043d\u0430 \u0437\u0430 \u043a\u0432.\u043c.",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"fa6ea5dc-26d1-4dc7-967f-1a4f75a71144":  {
			"name": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"description": "",
			"access": "1",
			"type": "jbcommentsrender"
		},
		"3cfd0f42-894c-46ad-b830-02255f55cebf":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u043a\u0438 +",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "0",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"6f9660b3-4fc2-4496-974f-321b5b790a5c":  {
			"name": "\u0420\u044d\u0439\u0442\u0438\u043d\u0433",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"43cc7a12-c01d-42f5-96bb-3f0cef6892f3":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0435 \u0437\u0430\u043a\u043b\u0430\u0434\u043a\u0438",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"technorati": "0",
			"yahoo": "1",
			"delicious": "0",
			"stumbleupon": "0",
			"digg": "0",
			"facebook": "1",
			"reddit": "0",
			"myspace": "1",
			"live": "1",
			"twitter": "1",
			"email": "1",
			"type": "socialbookmarks"
		},
		"06adbd6c-247e-4cd1-b310-464837225794":  {
			"name": "\u0424\u0430\u0439\u043b\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"instancelimit": "",
			"layout":  {
				"_layout": "default.php",
				"_sublayout": "_default.php"
			},
			"files":  {
				"_mode": "both",
				"_default_source": "",
				"_extensions": "png|jpg|gif|bmp|doc|docx|mp3|mov|avi|mpg|zip|rar|gz|pdf|ppt|pptx|xls|xlsx",
				"_websafe_mode": "utf-8",
				"_source_dir": "images",
				"_max_upload_size": "10240",
				"_s3bucket": "",
				"_awsaccesskey": "zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[]]]]",
				"_awssecretkey": "zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[]]]]"
			},
			"specific":  {
				"_download_mode": "0"
			},
			"type": "downloadpro"
		},
		"30b9a4f8-7511-4ec0-96c2-e251f446c2fe":  {
			"access": "1",
			"name": "\u042f\u043d\u0434\u0435\u043a\u0441.\u041a\u0430\u0440\u0442\u044b",
			"description": "flyleaf_ymaps",
			"type": "flyleaf_ymaps"
		},
		"e22c9514-e18d-47f2-a6a7-2714e9ef7678":  {
			"name": "Google",
			"description": "",
			"access": "1",
			"locale": "",
			"key": "",
			"type": "googlemaps"
		},
		"d65c28ab-0458-44ab-9019-15a93a796cdc":  {
			"access": "1",
			"name": "\u0413\u0430\u043b\u0435\u0440\u0435\u044f",
			"description": "",
			"directory": "images\/for_base",
			"type": "jbgallery"
		},
		"1a2c248a-5a9d-4e0f-8e27-ed6c52f42c1b":  {
			"name": "\u0422\u0438\u043f \u043a\u043e\u0440\u043f\u0443\u0441\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"4023c1f5-079a-4f21-bcb8-d0511ca59097":  {
			"name": "\u0421\u0435\u0440\u0438\u044f",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"95bb9754-05ab-4e36-8c93-7b2e04a7bb12":  {
			"name": "\u042d\u0442\u0430\u0436\u043d\u043e\u0441\u0442\u044c",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"1e4200f4-704c-4677-976a-c422d8b92c4c":  {
			"name": "\u0421\u0442\u0430\u0434\u0438\u044f \u0441\u0442\u0440\u043e\u0438\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"f1101fd8-ffc4-42ee-98d0-1bc7745b709a":  {
			"name": "\u0421\u0440\u043e\u043a \u0441\u0434\u0430\u0447\u0438 \u0413\u041a",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"4e9fc5b9-13fc-40de-a0f8-b41fe151a3e9":  {
			"name": "\u041e\u0442\u0434\u0435\u043b\u043a\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"df6ff2a9-9bb5-4cc4-95f6-df672b68f827":  {
			"name": "Complex_Id",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	},
	"zl": null
}