 {
	"name": "\u0416\u041a \u0421\u041d\u0413",
	"elements":  {
		"8a3bd684-287c-48da-a40c-77c5a50cedad":  {
			"name": "\u0413\u043b\u0430\u0432\u043d\u043e\u0435 \u0444\u043e\u0442\u043e \u0416\u041a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/uploads\/#USER_ID#",
			"max_upload_size": "512",
			"default_image": "",
			"default_enable": "1",
			"type": "jbimage"
		},
		"ff345784-2718-4990-9d3d-3b199f696b91":  {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"10e9e8dd-4786-4778-8bcf-8651ffa88d7c":  {
			"name": "\u0421\u0442\u0440\u0430\u043d\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"18a13169-0ad4-45b5-a31f-7364fc942344":  {
			"name": "\u0420\u0435\u0433\u0438\u043e\u043d",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"4a5932bf-8286-4b51-b696-2629cc2b18fe":  {
			"name": "\u041d\u0430\u0441\u0435\u043b\u0435\u043d\u043d\u044b\u0439 \u043f\u0443\u043d\u043a\u0442",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"59950544-7128-4777-906f-77ee235f94f2":  {
			"name": "\u0416\/\u0414 \u0441\u0442\u0430\u043d\u0446\u0438\u044f",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"c4a6003a-f629-41bd-b20a-29ed5d267764":  {
			"name": "\u041f\u0430\u0440\u043a\u0438\u043d\u0433",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"8909e421-d364-4650-8685-465037d8bbf9":  {
			"name": "\u0422\u0438\u043f \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"7800f7e8-ac3c-4190-9a91-c412cf70a00d":  {
			"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430 \u0438 \u0440\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
			"description": "\u0434\u0430\/\u043d\u0435\u0442",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430",
					"value": "ipoteka"
				},
				"1":  {
					"name": "\u0420\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
					"value": "rassrochka"
				}
			},
			"type": "checkbox"
		},
		"031bbdd4-fe6b-4e48-a3d7-44968c625ced":  {
			"name": "\u0418\u043f\u043e\u0442\u0435\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"4c9b3bff-22e6-456e-b17c-ad8d51ea876c":  {
			"name": "\u0420\u0430\u0441\u0441\u0440\u043e\u0447\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"b59da820-2174-40f9-acab-0cd39df1add1":  {
			"name": "\u0417\u0430\u0441\u0442\u0440\u043e\u0439\u0449\u0438\u043a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"07cab917-f1cb-4b86-bf11-48535170c05d":  {
			"name": "\u041f\u0440\u043e\u0434\u0430\u0432\u0446\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"jplugins": "1",
			"type": "textarea"
		},
		"bdb383b0-61a8-45ed-b71c-866e232bb302":  {
			"name": "\u041f\u043b\u043e\u0449\u0430\u0434\u044c",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"e88b7ff5-20e1-4284-b63a-30a98ce8bbe7":  {
			"name": "\u0414\u0438\u0430\u043f\u0430\u0437\u043e\u043d \u0446\u0435\u043d \u0432 \u0416\u041a",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"5b3ed583-42cd-4afe-8bf1-53d731c2e7e1":  {
			"name": "\u0426\u0435\u043d\u0430 \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"8081c4b5-ee85-45ca-bc58-eca2d876499b":  {
			"name": "\u0426\u0435\u043d\u0430 \u0437\u0430 \u043a\u0432.\u043c.",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"2a42f190-1fd6-4c33-a684-d3d4dbc8694e":  {
			"name": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"description": "",
			"access": "1",
			"type": "jbcommentsrender"
		},
		"2fddf27f-238b-4a29-8b1d-57e96107283d":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u043a\u0438 +",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "0",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"e6fd6234-8e7a-4886-8e3e-5e86fb4b888d":  {
			"name": "\u0420\u044d\u0439\u0442\u0438\u043d\u0433",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"f7118a2e-2dc9-4a57-a939-59ca69be082c":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0435 \u0437\u0430\u043a\u043b\u0430\u0434\u043a\u0438",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"technorati": "0",
			"yahoo": "1",
			"delicious": "0",
			"stumbleupon": "0",
			"digg": "0",
			"facebook": "1",
			"reddit": "0",
			"myspace": "1",
			"live": "1",
			"twitter": "1",
			"email": "1",
			"type": "socialbookmarks"
		},
		"6d9d6088-cfa8-497d-ae89-b40becf33d50":  {
			"name": "\u0424\u0430\u0439\u043b\u044b",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"instancelimit": "",
			"layout":  {
				"_layout": "default.php",
				"_sublayout": "_default.php"
			},
			"files":  {
				"_mode": "both",
				"_default_source": "",
				"_extensions": "png|jpg|gif|bmp|doc|docx|mp3|mov|avi|mpg|zip|rar|gz|pdf|ppt|pptx|xls|xlsx",
				"_websafe_mode": "utf-8",
				"_source_dir": "images",
				"_max_upload_size": "10240",
				"_s3bucket": "",
				"_awsaccesskey": "zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[]]]]]",
				"_awssecretkey": "zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[zl-decrypted[]]]]]"
			},
			"specific":  {
				"_download_mode": "0"
			},
			"type": "downloadpro"
		},
		"3964b926-b94e-47f7-803f-38566cc634a4":  {
			"access": "1",
			"name": "\u042f\u043d\u0434\u0435\u043a\u0441.\u041a\u0430\u0440\u0442\u044b",
			"description": "flyleaf_ymaps",
			"type": "flyleaf_ymaps"
		},
		"8d0988e7-90ef-4d0f-9c94-79f99059b4df":  {
			"name": "Google",
			"description": "",
			"access": "1",
			"locale": "",
			"key": "",
			"type": "googlemaps"
		},
		"e127a36b-3030-4857-83b5-99a43e763c6a":  {
			"access": "1",
			"name": "\u0413\u0430\u043b\u0435\u0440\u0435\u044f",
			"description": "",
			"directory": "images\/for_base",
			"type": "jbgallery"
		},
		"df3f86aa-fb40-4f8f-b0d5-74a58527c78d":  {
			"name": "\u0422\u0438\u043f \u043a\u043e\u0440\u043f\u0443\u0441\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"3450693b-92b5-45a4-babd-d2cca6b38b63":  {
			"name": "\u0421\u0435\u0440\u0438\u044f",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"4a13e9ce-05aa-4d72-aed4-5eba72128063":  {
			"name": "\u042d\u0442\u0430\u0436\u043d\u043e\u0441\u0442\u044c",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"1f117876-983e-4aae-b6f0-333b41303f26":  {
			"name": "\u0421\u0442\u0430\u0434\u0438\u044f \u0441\u0442\u0440\u043e\u0438\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"95cc94ad-44e2-4e86-aa01-80611b281574":  {
			"name": "\u0421\u0440\u043e\u043a \u0441\u0434\u0430\u0447\u0438 \u0413\u041a",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"67c96657-9731-4a36-a3d8-96f491a18e1d":  {
			"name": "\u041e\u0442\u0434\u0435\u043b\u043a\u0430",
			"description": "(\u043a\u043e\u0440\u043f\u0443\u0441)",
			"access": "1",
			"repeatable": "1",
			"default": "\u043d\/\u0434",
			"type": "text"
		},
		"fe205fdb-89df-40ea-9894-001bb73246b4":  {
			"name": "Complex_Id",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	},
	"zl": null
}